<% include ./partials/header %>

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <form action='/forgot' method='POST'>
                <legend>Forgot Password</legend>
                    <div class='form-group'>
                        <label for='email'>Email</label>
                        <input type='email' name='email' autofocus placeholder='enter email address' required>
                        <!--this email value can be pulled using req.body.email in the routes section-->
                    </div>
                    <div class='form-group'>
                        <input type='submit' name='submit' value='reset password' class='btn btn-primary'>
                    </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>